Your goal in this challenge is to find the factors that affect the life expectancy. Specifically, you need to find out which factors increase the expected life in the countries and which factors decrease it.

First, load the dataset.

* Detect the problems with the data such as missing values and outliers. Are there any nonsense values that seem to be stemmed from the data collection? For the missing values, discuss which technique would be the most suitable one in filling out these values. Regarding the outliers, discuss their potential effects on your analysis and select an appropriate method to deal with them.

* Explore the data using univariate and multivariate exploration techniques. You should pay special attention to your target variable. In this regard, your focus should be on finding the relevant variables that may affect life expectancy.

* In the feature engineering step, you need to select a suite of variables that you think would be ideal in the modeling phase. More concretely, you may discard some variables that are very correlated with the other ones or the variables that you think irrelevant with the life expectancy.

* Summarize your findings. One of the most important skills of a data scientist is to convey ideas and findings to nontechnical people using understandable language. In this regard, one of the most effective ways to communicate your ideas is to do it using effective visualization.

Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import warnings

pd.set_option('display.max_columns', None)

# warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

print(pd.__version__)

1.0.3

Creating source DataFrame

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

life_df_source = pd.read_sql_query('select * from lifeexpectancy',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

Making copy of source and altering column names.

In [3]:
life_df = life_df_source.copy()

# Stripping column names of whitespace
for column_name in life_df.columns:
    life_df.rename({column_name: column_name.strip().lower()}, axis=1, inplace=True)
# Renaming columns
better_column_names = {'life expectancy': 'life_expect',
                      'adult mortality': 'adult_mort',
                      'infant deaths': 'infant_deaths',
                      'percentage expenditure': 'perc_expend',
                      'hepatitis b': 'hep_b',
                      'under-five deaths': '<5_deaths',
                      'total expenditure': 'total_expend',
                      'population': 'pop',
                      'thinness  1-19 years': 'thin<20',
                      'thinness 5-9 years': 'thin<10',
                      'income composition of resources': 'income'}
life_df.rename(better_column_names, axis=1, inplace=True)

print(life_df.shape)
life_df.head()

(2938, 22)

,country,year,status,life_expect,adult_mort,infant_deaths,alcohol,perc_expend,hep_b,measles,bmi,<5_deaths,polio,total_expend,diphtheria,hiv/aids,gdp,pop,thin<20,thin<10,income,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

## Data Cleaning

### Variable Types

In [4]:
life_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        2938 non-null   object
 1   year           2938 non-null   int64
 2   status         2938 non-null   object
 3   life_expect    2928 non-null   float64
 4   adult_mort     2928 non-null   float64
 5   infant_deaths  2938 non-null   int64
 6   alcohol        2744 non-null   float64
 7   perc_expend    2938 non-null   float64
 8   hep_b          2385 non-null   float64
 9   measles        2938 non-null   int64
 10  bmi            2904 non-null   float64
 11  <5_deaths      2938 non-null   int64
 12  polio          2919 non-null   float64
 13  total_expend   2712 non-null   float64
 14  diphtheria     2919 non-null   float64
 15  hiv/aids       2938 non-null   float64
 16  gdp            2490 non-null   float64
 17  pop            2286 non-null   float64
 18  thin<20        2904 non-null   float64
 19  thin<10        2904 non-null   float64
 20  income         2771 non-null   float64
 21  schooling      2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

I don't notice anything inherently wrong with data types.

### Missing Values

There are some empty values along with a recurring `nan` value.

In [5]:
life_df.isnull().sum()

country            0
year               0
status             0
life_expect       10
adult_mort        10
infant_deaths      0
alcohol          194
perc_expend        0
hep_b            553
measles            0
bmi               34
<5_deaths          0
polio             19
total_expend     226
diphtheria        19
hiv/aids           0
gdp              448
pop              652
thin<20           34
thin<10           34
income           167
schooling        163
dtype: int64

Interpolating as much missing data as possible by grouping them by country and filling missing data based on linear trends.

In [11]:
life_df_inter = life_df.groupby(['country'], sort=False).apply(lambda group: group.interpolate(method='linear', limit_direction='both'))

In [12]:
life_df_inter.shape

(2938, 22)

Dataframe size is still intact, and the number of null-values has gone slightly, most notably in the `alcohol` category.

In [13]:
life_df_inter.isnull().sum()

country            0
year               0
status             0
life_expect       10
adult_mort        10
infant_deaths      0
alcohol           17
perc_expend        0
hep_b            144
measles            0
bmi               34
<5_deaths          0
polio              0
total_expend      32
diphtheria         0
hiv/aids           0
gdp              405
pop              648
thin<20           34
thin<10           34
income           167
schooling        163
dtype: int64

However, there are still large chunks of missing data that could not be interpolated, like this chunk with the `gdp`, `pop`, `income`, and `schooling` categories.

In [9]:
life_df_inter.iloc[433:448]

,country,year,status,life_expect,adult_mort,infant_deaths,alcohol,perc_expend,hep_b,measles,bmi,<5_deaths,polio,total_expend,diphtheria,hiv/aids,gdp,pop,thin<20,thin<10,income,schooling
433,Côte d'Ivoire,2015,Developing,53.3,397.0,57,1.58,0.0,83.0,65,28.0,79,81.0,5.285,83.0,1.9,NaN,NaN,5.5,5.5,NaN,NaN
434,Côte d'Ivoire,2014,Developing,52.8,47.0,58,0.01,0.0,76.0,50,27.4,80,76.0,5.720,76.0,2.0,NaN,NaN,5.6,5.6,NaN,NaN
435,Côte d'Ivoire,2013,Developing,52.3,412.0,59,3.15,0.0,8.0,48,26.8,81,79.0,5.810,8.0,2.4,NaN,NaN,5.8,5.7,NaN,NaN
436,Côte d'Ivoire,2012,Developing,52.0,415.0,59,3.24,0.0,82.0,137,26.2,82,83.0,6.140,82.0,2.9,NaN,NaN,5.9,5.9,NaN,NaN
437,Côte d'Ivoire,2011,Developing,51.7,419.0,60,3.13,0.0,62.0,628,25.6,83,58.0,6.420,62.0,3.3,NaN,NaN,6.1,6.0,NaN,NaN
438,Côte d'Ivoire,2010,Developing,51.5,417.0,60,3.15,0.0,85.0,441,25.0,84,81.0,6.320,85.0,3.3,NaN,NaN,6.3,6.2,NaN,NaN
439,Côte d'Ivoire,2009,Developing,51.0,426.0,60,2.92,0.0,81.0,183,24.4,84,77.0,6.410,81.0,3.7,NaN,NaN,6.5,6.4,NaN,NaN
440,Côte d'Ivoire,2008,Developing,54.0,437.0,60,2.69,0.0,74.0,12,23.8,85,58.0,6.210,74.0,4.1,NaN,NaN,6.6,6.6,NaN,NaN
441,Côte d'Ivoire,2007,Developing,49.9,443.0,61,2.58,0.0,76.0,5,23.2,87,75.0,6.350,76.0,5.3,NaN,NaN,6.8,6.7,NaN,NaN
442,Côte d'Ivoire,2006,Developing,49.4,452.0,62,2.65,0.0,77.0,11,22.6,89,76.0,5.870,77.0,5.8,NaN,NaN,7.0,6.9,NaN,NaN
443,Côte d'Ivoire,2005,Developing,48.7,466.0,63,3.11,0.0,76.0,115,22.1,90,87.0,5.390,76.0,6.1,NaN,NaN,7.2,7.1,NaN,NaN
444,Côte d'Ivoire,2004,Developing,48.2,472.0,64,3.08,0.0,67.0,3466,21.5,91,76.0,5.240,67.0,6.5,NaN,NaN,7.3,7.3,NaN,NaN
445,Côte d'Ivoire,2003,Developing,48.0,473.0,64,3.12,0.0,63.0,4770,2.9,92,68.0,4.650,61.0,6.7,NaN,NaN,7.5,7.5,NaN,NaN
446,Côte d'Ivoire,2002,Developing,47.7,473.0,65,3.13,0.0,48.0,5882,2.4,93,7.0,4.470,64.0,6.9,NaN,NaN,7.7,7.7,NaN,NaN
447,Côte d'Ivoire,2000,Developing,47.9,461.0,67,3.45,0.0,48.0,5729,19.4,95,66.0,6.000,65.0,7.1,NaN,NaN,8.1,8.1,NaN,NaN

Still missing a lot of bulk information, like seen above.

(2128, 22)

### Outliars